// ----------------------------------
// FONTS
// ----------------------------------

// GOTHAM
// ----------------------------------

html, body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gotham A', 'Gotham B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.book{
    font-weight:400;
}
.book-italic{
    font-weight:400;
    font-style:italic;
}
.medium{
    font-weight:500;
}
.medium-italic{
    font-weight:500;
    font-style:italic;
}
.bold{
    font-weight:700;
}
.bold-italic{
    font-weight:700;
    font-style:italic;
}

// ICON FONT
// ----------------------------------
@font-face {
  font-family: "coke-icons";
  src:  font-url("coke-icons.eot");
  src:  font-url("coke-icons.eot?#iefix") format("embedded-opentype"),
        font-url("coke-icons.woff") format("woff"),
        font-url("coke-icons.ttf") format("truetype"),
        font-url("coke-icons.svg#coke-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin cp-icons {
    font-family: "coke-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    content: attr(data-icon);
    @include cp-icons;
}

[class^="cp-icon-"],
[class*=" cp-icon-"] {
    &:before {
        @include cp-icons;
    }
    span {
        @include hide-text;
        display: inline-block;
        width: 0;
        height: 0;
    }
}


.cp-icon-menu:before {
  content: "\2254";
}
.cp-icon-caret-rt:before {
  content: ">";
}
.cp-icon-caret-lt:before {
  content: "<";
}
.cp-icon-tool:before {
  content: "\2692";
}
.cp-icon-add:before {
  content: "+";
}
.cp-icon-bookmark:before {
  content: "\25f9";
}
.cp-icon-bookmark-fill:before {
  content: "\25e5";
}
.cp-icon-browse:before {
  content: "\2398";
}
.cp-icon-chat:before {
  content: "\2365";
}
.cp-icon-download:before {
  content: "\2193";
}
.cp-icon-eye:before {
  content: "\229e";
}
.cp-icon-search:before {
  content: "\26b2";
}
.cp-icon-read:before {
  content: "\25a4";
}
.cp-icon-play:before {
  content: "\25b6";
}
.cp-icon-pin:before {
  content: "\2299";
}
.cp-icon-photo:before {
  content: "\26f6";
}
.cp-icon-phone:before {
  content: "\260e";
}
.cp-icon-mail:before {
  content: "\2709";
}
.cp-icon-link:before {
  content: "\260d";
}
.cp-icon-heart-fill:before {
  content: "\2665";
}
.cp-icon-heart:before {
  content: "\2661";
}
.cp-icon-star-fill:before {
  content: "\2605";
}
.cp-icon-trophy:before {
  content: "\272a";
}
.cp-icon-upload:before {
  content: "\2191";
}
.cp-icon-user:before {
  content: "\263b";
}
.cp-icon-x10:before {
  content: "\2789";
}
.cp-icon-x25:before {
  content: "\3255";
}
.cp-icon-star:before {
  content: "\2606";
}
.cp-icon-x50:before {
  content: "\32bf";
}
.cp-icon-file:before {
  content: "\2588";
}
.cp-icon-caret-up:before {
  content: "^";
}
.cp-icon-caret-dn:before {
  content: "v";
}
.cp-icon-check:before {
  content: "\2713";
}
.cp-icon-close:before {
  content: "\2a09";
}
.cp-icon-edit:before {
  content: "\270e";
}
.cp-icon-pen:before {
  content: "\270d";
}
.cp-icon-lock:before {
  content: "\1f512";
}
.cp-icon-filter:before {
  content: "\25bd";
}
.cp-icon-share:before {
  content: "\21a5";
}
.cp-icon-unlock:before {
  content: "\1f513";
}
.cp-icon-user-add:before {
  content: "\2295";
}
.cp-icon-caret-lt2:before {
  content: "(";
}
.cp-icon-caret-rt2:before {
  content: ")";
}
