// ----------------------------------------------------
// VARIABLES
// ----------------------------------------------------

@import "compass/css3";
@import "compass/utilities";


// ----------------------------------
// VARIABLES
// ----------------------------------


// COLORS
// ----------------------------------
$black      : #040707;
$suede      : #1d1d1d;
$red        : #de2728;
$blue       : #21addd;
$gray       : #dfe5e6;
$white      : #fff;


// Z-INDEX
// ----------------------------------
$zQtr       : 25;
$zMid       : 50;
$zTop       : 100;


