// ----------------------------------------------------
// AUTOMATION
// ----------------------------------------------------

.yo-logos {
    text-align: center;

    img { margin: 20px; }
}

.yeoman {}

.grunt {
    float: left;
}

.bower {
    float: right;
}
