// ----------------------------------------------------
// SASS
// ----------------------------------------------------

.totem {
    hgroup {
        border: none;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        font-size: 72px;
    }

    pre { background: rgba($gray, 0.7);}
}

.smacss {
    float: right;
    margin: 0 0 20px 20px;
    width: 300px;
}

.sass-logo {
    float: right;
    margin: 0 0 20px 20px;
    width: 300px;
}

.inception {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 65px;
}
