// ----------------------------------------------------
// LAYOUT
// ----------------------------------------------------
body {
    background: $black;
}

slides > slide.backdrop {
    background: image-url('bg_dark.gif') no-repeat right bottom $suede;
    background-size: contain;
}

hgroup {
    border-bottom: $red 1px solid;
    padding: 20px 0;
    margin-bottom: 40px;
}





